img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
    margin-top: 10px;
}

td {
    vertical-align: middle;
    font-size: 1.2rem;
}
